.k2-tip-container{position:relative;width:100%;height:100%;}
.k2-tip-arrow-t{position:absolute;top:-10px;left:200px;width:18px;height:11px;background:url(../img/t.png?du) 0 0 no-repeat;}


















